@import "../../config.less";
#page.list>.header {
    display: block;
}
#page>.content>.detail{
	border-top: none;
	background: #edf2f6;
	overflow-y:auto; 
	.detai-header{
		height: 130px;
		background: #ff5c0c;
		color: #fff;
		.detail-apr-name{
			text-align: center;
			padding-top: 30px;
		}
		.detail-apr-num{
			font-size: 35px;
			text-align: center;
			padding: 5px;
		}
	}
}