@import "../../config.less";
#page.home {
    >.header {
        background-color: @themeColor;
        display: none;
        >.title {
            display: none;
        }
    }
}
#page>.content>.home {
    background-color: @themeBackground;
    border-top: none;
    overflow-y: auto;
    >.banner {
        position: relative;
        height: 150px;
        width: 100%;
        background-color: white;
    }
    >.nav {
        position: relative;
        width: 100%;
        text-align: center;
        pointer-events: none;
        font-family: Serif;
        font-size: 16px;
        line-height: 18px;
        margin-top: -18px;
        color: @menuBackground;
        text-shadow: 0 0 1px silver;
    }
    .item{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .tentrance{
        width: 100%;
        height: 80px;
        display: -webkit-flex;
        display: flex;
        justify-content:center;
        background: #fff;
        .tentrance-item{
            flex-grow:1;
            text-align: center;
            position: relative;
            .icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-top: 15px;
            }
            .name{
                width: 100%;
                padding: 3px 0; 
                font-size: 14px;
            }
            .icon-gift{
                background: url(./images/icon-gift.png) no-repeat;
                background-size: 100%;
            }
            .message-tips{
                display: inline-block;
                padding: 2px 5px;
                background: @themeColor;
                color: #fff;
                font-size: 12px;
                border-radius: 70%;
                border: 1px solid #fff;
                position: absolute;
                top: 7px;
                left: 54%;
            }
        }
    }
    .loan-list{
        padding-bottom: 20px;
    }
    .loan-item-head{
        background: @themeBackground;
        height:35px;
        border-top: 1px solid #e7e9ed;
        border-bottom: 1px solid #e7e9ed;
        padding-top: 10px;
        .head-par{
            display: inline-block;
            width: 4px;
            height: 20px;
            background: #54acf6;
            border-radius: 2px;
            margin-left: 10px;
            float: left;
        }
        .head-name{
            display: inline-block;
            font-size: 14px;
            margin-left: 5px;
            line-height: 24px;
            float: left;
        }
    }
    .loan-item-body{
        background: #fff;
        position: relative;
        .loan-title{
            padding: 20px 10px 5px 10px;
            .name{
                font-size: 16px;
                color: #333;
            }
            .tag{
                display: inline-block;
                padding: 2px 4px;
                margin-left: 3px;
                color: #fff;
                font-size: 12px;
                border-radius: 2px;
            }
            .tag-1{
                background: @themeColor;
            }
            .tag-2{
                background: #ff2727;
            }
        }
        .loan-info{
            padding: 10px;
            color: #999;
            font-size: 14px;
            .info-apr{
                display: inline-block;
                margin-right: 15px;
                width: 30%;
                float: left;
                .apr{
                    color: #ff5c0c;
                    font-size: 18px;
                    i{
                        font-style: normal;
                        font-size: 40px;
                    }
                }
                .name{
                    margin-top: 10px;
                }
            }
            .info-line{
                width: 1px;
                height: 70px;
                background: #ddd;
                float: left;
            }
            .info-total{
                width: 40%;
                float: left;
                margin-left: 20px;
                padding-top: 22px;
                .data-limit{
                    margin-top: 10px;
                }
                i{
                    font-style: normal;
                    font-size: 18px;
                }
            }
        }
        .loan-bot{
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            color: #999;
            border-top: 1px solid #ddd;
            font-size: 14px;
        }
        .progressBar {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 90px;
            height: 90px;
        }
    }  
     
}